@charset "UTF-8";

/* 回答はここに書いてね */
.main {
  margin: 0 auto;
  width: 940px;
}

.main_top {
  background-color: #eff3f4;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.top_image {
  float: left;
  margin-bottom: 10px;
  margin-right: 20px;
}

.sentence {
  font-size: 18px;
  line-height: 22px;
  word-break: break-all;
}

.main_bottom {
  background-color: #eff3f4;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.bottom_image {
  float: right;
  margin-bottom: 10px;
  margin-left: 20px;
}
/* 回答はここに書いてね */
