@charset "UTF-8";

/* 回答はここに書いてね */
.main {
  background-color: #eff3f4;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  width: 940px;
}

.left_image {
  float: left;
  margin-bottom: 10px;
  margin-right: 20px;
}

.sentence {
  font-size: 18px;
  line-height: 22px;
  word-break: break-all;
}

.right_image {
  float: right;
  margin-bottom: 10px;
  margin-left: 20px;
}
/* 回答はここに書いてね */
