@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after {
  clear: both;
  content: "";
  display: block;
}

.box7-1 {
  box-sizing: border-box;
  float: left;
  font-size: 16px;
  width: 225px;
}

.box7-1:last-child {
  margin-left: 50px;
}

.inner7-2 {
  display: table;
}

.box7-2 {
  display: table-cell;
  font-size: 16px;
  vertical-align: middle;
  width: 225px;
}

.box7-2:last-child {
  padding-left: 50px;
}

.inner7-3 {
  font-size: 0;
}

.box7-3 {
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  width: 225px;
}

.box7-3:last-child {
  margin-left: 50px;
}

.inner7-4 {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.box7-4 {
  box-sizing: border-box;
  font-size: 16px;
  width: 225px;
}

.inner7-5 {
  font-size: 0;
}

.box7-5-1 {
  display: inline-block;
  font-size: 16px;
  width: 300px;
  vertical-align: top;
}

.box7-5-2 {
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  margin-left: -300px;
  padding-left: 350px;
  vertical-align: top;
  width: 100%;
}
/* 回答はここに書いてね */
