@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after {
  clear: both;
  content: "";
  display: block;
}

.box1-1 {
  float: left;
  font-size: 16px;
  width: 205px;
}

.box1-2 {
  float: left;
  font-size: 16px;
  margin-left: 50px;
  width: 205px;
}

.inner2 {
  display: table;
}

.box2-1 {
  display: table-cell;
  font-size: 16px;
  vertical-align: middle;
  width: 225px;
}

.box2-2 {
  display: table-cell;
  font-size: 16px;
  padding-left: 50px;
  vertical-align: middle;
  width: 225px;
}

.inner3 {
  font-size: 0;
}

.box3-1 {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  width: 205px;
}

.box3-2 {
  display: inline-block;
  font-size: 16px;
  margin-left: 50px;
  vertical-align: middle;
  width: 205px;
}

.inner4 {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.box4 {
  font-size: 16px;
  width: 205px;
}

.inner5 {
  font-size: 0;
}

.box5-1 {
  display: inline-block;
  font-size: 16px;
  width: 300px;
  vertical-align: top;
}

.box5-2 {
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  margin-left: -300px;
  padding-left: 350px;
  vertical-align: top;
  width: 100%;
}
/* 回答はここに書いてね */
